body{
   background-color: #1F2937;
}
.hero-container{
 
  color:white;
}

.hero-img{
  height: auto;
  width: 50%;
}

.navbar-container{
  
}

.navbar-container ul {
  display:flex;
  justify-content:space-between;
  list-style:none;
  color:white;
  
  
}

.navbar-container li {
  flex:auto auto auto;
  
}

ul {
  padding:0;
}
